@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/* selector {
    propiedad: valor;
    propiedad: valor;
}
  */
body {
    background: #F2F2F2;
}

.colorAmarillo {
    background: #FCEE21;
}
/*   reglas de estilo por class */
.tituloDos {
    color:white;
    background: black;
}

/* reglas de estilo por id */
#cuartoTitulo {
    color:rgb(9, 98, 11);
}

/* tipografia */
.miParrafoEspecial {
    font-family: 'Kaushan Script', cursive ;
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
}